.question2, .question3, .question4, .question5{
  display: none;
}
.btn.outline {
	background: none;
	padding: 7px 17px;
}
.btn.outline {
	border: 2px solid #404040;
	color: #404040;
}
.btn.outline:hover, .btn.outline:focus, .btn.outline:active, .btn.outline.active, .open > .dropdown-toggle.btn {
	color: #669933;
	border-color: #669933;
}
.btn.outline:active, .btn.outline.active {
	border-color: #669933;
	color: #669933;
	box-shadow: none;
}
.form-group{
  border: 10px solid #fff;
  box-shadow: -1px 1px 5px 4px #e3e3e3;
  padding: 1px 1px 1px 1px;
  width: 40%;
  background-color: #fff;
  position: relative;
  left: 350px;
}
.image{
  height: 300px;
  width: 400px;
}
h1, h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.result{
  border: 10px solid #fff;
  box-shadow: -1px 1px 5px 4px #e3e3e3;
  padding: 1px 1px 1px 1px;
  width: 40%;
  background-color: #fff;
  position: relative;
  left: 350px;

}
.result{
  display: none;
}
.time{
  height: 30px;
  text-align: right;
  font-size: 20px;
}
body{
  background: url(../img/bg2.jpg) no-repeat center center;
  background-size:
}
.head{
  font-family: 'Raleway', sans-serif;

}
p, ol{
font-family: 'Raleway', sans-serif;
}
.terms{
  height: 200px;
  margin-left: 10%;
}
.luck{
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
}
